<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if (user) {%>
      <h1>WELCOME BACK <%= user.username %></h1>
      <br>
      <a href = '/createpost'> Create your own post </a>
      <br>
      <a href = '/membership'> Sign up for membership </a>
    <% } else { %>
      <p>NOT LOGGED IN</p> 
    <% } %>
  </body>
</html>

<a href = "/signup"> Sign up</a>
<br>
<a href = "/login"> Login </a> 
<br>
<a href = "/logout"> Logout </a>