<h1> Submit Password for <%= title %>  </h1>

<form action = "/membership" method = "POST">
    
    <label for = "password"> Submit Secret Membership Password </label>
    <br>
    <input type = "text" id = "password" name = "password" required>
    <br>
    <button type = "submit"> Submit Secret Password </button>
    <br>

    <% if (user) { %>
        <p> <%= user.username %> </p>
        <p> <%= user._id %> </p> 
        <p> <%= user.membership %> </p>
    <% } else { %> 
        <p> Not logged in </p>
    <% } %>
</form>