<h1> Submit Password for Membership </h1>

<form action = "/membership" method = "POST">
    <label for = "password"> Submit Secret Membership Password </label>
    <input type = "text" id = "password" name = "password" required>

    <button type = "submit"> Submit Secret Password </button>
</form>