<h1> Create your own post </h1> 

<form action = "/createpost" method = "POST">
    <div>
        <label for = "body"> Post message </label>
        <input type = "text" id = "body" name = "body" required> 
    </div>

    <button type = "submit"> Submit Post </button>
</form>